body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px
  min-width: 320px;
}

/*Header*/

.header-top {
  /*background: url(image/rombs.png);*/
  padding: 15px 0;
}
.header-nav a {
  color: rgba(0,0,0, .8);

}
.header-nav a:hover {
  color: rgba(0,0,0, .5);
}
.header-nav a:active {
  color: rgba(0,0,0, .9);
}

/*Карусель*/
.carousel-text h5{
  color: #000;
}
/*Секция выбора панелей*/
.my_goods {
  padding: 40px 0;
  background-color: #f6f6f6;
}


/*Секция преимущества*/
.preferences {
  padding: 30px 0;
}
.pref {
  padding: 1rem;
}
.pref:hover {
  background-color: #f3f3f3;
}



/*Компания*/
.my_company {
  padding: 110px 0 60px 0;
  color: #fff;
  background: url(image/company.jpg);
  background-size: cover;
}
.achieve {
  margin-top: 20px;
}
.achieve-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(128,128,128, .5);
}
/*Новости*/
.my_news {
  padding: 60px 0;
}

/*Портфолио*/
.my_portfolio {

}
.description {
  background: #2053f7;
  color: #fff;
  padding: 5% 2rem!important;
}

/*Форма*/
.my_form {
  padding: 40px 0;
}

/*Footer**/
.my_footer {
  background: #000;
  color: #fff;
  padding: 40px 0;
}
.footer-nav a {
  color: #fff;
}
.footer-nav a:hover {
  color: #808080;
}
.footer-nav a:first-child {
  padding-top: 0;
}
