body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px
  min-width: 320px;
}

/*Header*/

.header-top {
  /*background: url(image/rombs.png);
  background-repeat:repeat-x;
  background-size: cover;*/
  background-image:


        linear-gradient(to top right, transparent 40.5%, blue 25%),
        linear-gradient(to top left, transparent 40.5%, blue 25%);
background-repeat:   repeat-x, repeat-x;
background-position:  20px 100%, 20px 100%;
background-size:  15px 26px, 15px 26px;
background-clip:  border-box, border-box;
background-origin:  border-box, border-box;
}
.search-container {
  position: relative;
  width: 100%;
}
.search-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}
input[type=search] {
    /*width: 130px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;*/
    text-indent: 30px;
    /*-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;*/

}
input[type=search]:focus {
    /*transform: scaleX(1.2);
    width: 100%;*/
}
.header-nav a {
  color: rgba(0,0,0, .8);

}
.header-nav a:hover {
  color: rgba(0,0,0, .5);
}
.header-nav a:active {
  color: rgba(0,0,0, .9);
}

/*Карусель*/
.carousel-text h5{
  color: #000;
}
/*Секция выбора панелей*/
.my_goods {
  padding: 40px 0;
  background-color: #f6f6f6;
}


/*Секция преимущества*/
.preferences {
  padding: 30px 0;
}
.pref {
  padding: 1rem;
}
.pref:hover {
  background-color: #f3f3f3;
}



/*Компания*/
.my_company {
  padding: 110px 0 60px 0;
  color: #fff;
  background: url(image/company.jpg);
  background-size: cover;
}
.achieve {
  margin-top: 20px;
}
.achieve-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(128,128,128, .5);
}
/*Новости*/
.my_news {
  padding: 60px 0;
}

/*Портфолио*/
.my_portfolio {

}
.description {
  background: #2053f7;
  color: #fff;
  padding: 5% 2rem!important;
}

/*Форма*/
.my_form {
  padding: 40px 0;
}

/*Footer**/
.my_footer {
  background: #000;
  color: #fff;
  padding: 40px 0;
}
.footer-nav a {
  color: #fff;
}
.footer-nav a:hover {
  color: #808080;
}
.footer-nav a:first-child {
  padding-top: 0;
}
